<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Choose the way to upload image for
            {{title}}</h5>

          <!-- General Form Elements -->
          <form
            class="needs-validation"
            action="/admin/carousel/store"
            method="POST"
          >

            <fieldset class="row mb-3">
              <div class="col-sm-10">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gridRadios"
                    id="carousel-url"
                    checked
                  />
                  <label class="form-check-label" for="carousel-url">
                    URL
                  </label>
                </div>
                <div class="form-check disabled">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gridRadios"
                    id="carousel-file"
                    disabled
                  />
                  <label class="form-check-label" for="carousel-file">
                    File upload
                  </label>
                </div>
              </div>
            </fieldset>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Image URL One</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="imageOne"
                    id="input-image-url-1"
                    required
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    tabindex="-1"
                    onclick="previewImage(this)"
                    data-bs-toggle="modal"
                    data-bs-target="#imageModal"
                  ><i class="bi bi-image-fill"></i></button>
                  <button
                    class="btn btn-dark"
                    type="button"
                    tabindex="-1"
                    id="btn-paste-url-1"
                    onclick="pasteTextToNearestInput(this)"
                  ><i class="bi bi-clipboard"></i></button>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Image URL Two</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="imageTwo"
                    id="input-image-url-2"
                    required
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    tabindex="-1"
                    onclick="previewImage(this)"
                    data-bs-toggle="modal"
                    data-bs-target="#imageModal"
                  ><i class="bi bi-image-fill"></i></button>
                  <button
                    class="btn btn-dark"
                    type="button"
                    tabindex="-1"
                    id="btn-paste-url-2"
                    onclick="pasteTextToNearestInput(this)"
                  ><i class="bi bi-clipboard"></i></button>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Image URL Three</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name="imageThree"
                    id="input-image-url-3"
                    required
                  />
                  <button
                    class="btn btn-primary"
                    type="button"
                    tabindex="-1"
                    onclick="previewImage(this)"
                    data-bs-toggle="modal"
                    data-bs-target="#imageModal"
                  ><i class="bi bi-image-fill"></i></button>
                  <button
                    class="btn btn-dark"
                    type="button"
                    tabindex="-1"
                    id="btn-paste-url-3"
                    onclick="pasteTextToNearestInput(this)"
                  ><i class="bi bi-clipboard"></i></button>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label text-secondary">File Upload</label>
              <div class="col-sm-10">
                <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  disabled
                />
              </div>
            </div>

            {{#if messages}}
              <div class="row mb-3">
                {{#if messages.error}}
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                  >
                    <i class="bi bi-check-circle me-1"></i>
                    {{messages.error}}
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                  </div>
                {{/if}}
                {{#if messages.success}}
                  <div
                    class="alert alert-success alert-dismissible fade show"
                    role="alert"
                  >
                    <i class="bi bi-exclamation-octagon me-1"></i>
                    {{messages.success}}
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                  </div>
                {{/if}}
              </div>
            {{/if}}
            <div class="d-flex justify-content-center mb-3">
              <button type="submit" class="btn btn-success">Submit Form</button>
            </div>

          </form><!-- End General Form Elements -->

        </div>
      </div>

    </div>
  </div>
</section>

{{! Data }}
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p>The carousel table is a database table that stores information
            about
            <code>carousels</code>, such as their name, images, and links. It is
            commonly used to display rotating banners or images on a website's
            homepage or other pages.</p>

          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image Url</th>
                <th scope="col">Image Preview</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{carousel.imageOne}}</td>
                <td><img
                    class="img-fluid"
                    style="max-width: 300px"
                    src="{{carousel.imageOne}}"
                    alt="imageOne"
                  /></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>{{carousel.imageTwo}}</td>
                <td><img
                    class="img-fluid"
                    style="max-width: 300px"
                    src="{{carousel.imageTwo}}"
                    alt="imageTwo"
                  /></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>{{carousel.imageThree}}</td>
                <td><img
                    class="img-fluid"
                    style="max-width: 300px"
                    src="{{carousel.imageThree}}"
                    alt="imageThree"
                  /></td>
              </tr>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="imageModal"
  tabindex="-1"
  aria-labelledby="imageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img id="imagePreview" class="img-fluid" src="" alt="Preview Image" />
      </div>
    </div>
  </div>
</div>