<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{#if title}}{{title}}{{else}}Dashboard{{/if}} - PonTon</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/admin/img/favicon.png" rel="icon" />
    <link
      href="/assets/admin/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="/assets/admin/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/admin/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/admin/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="/assets/admin/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/assets/admin/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link
      href="/assets/admin/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="/assets/admin/vendor/simple-datatables/style.css"
      rel="stylesheet"
    />

    <link href="/assets/admin/css/style.css" rel="stylesheet" />
  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="/assets/admin/img/logo.png" alt="" />
          <span class="d-none d-lg-block">PonTon</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->

      <div class="search-bar">
        <form
          class="search-form d-flex align-items-center"
          method="POST"
          action="#"
        >
          <input
            type="text"
            name="query"
            placeholder="Search"
            title="Enter search keyword"
          />
          <button type="submit" title="Search"><i
              class="bi bi-search"
            ></i></button>
        </form>
      </div><!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle" href="#">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->

          <li class="nav-item dropdown pe-3">

            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                src="/assets/img/{{user.avatar}}"
                alt="Profile"
                class="rounded-circle"
              />
              <span
                class="d-none d-md-block dropdown-toggle ps-2"
              >{{user.name}}</span>
            </a><!-- End Profile Iamge Icon -->

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                <h6>{{user.name}}</h6>
                <span>{{user.email}}</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="users-profile.html"
                >
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  href="pages-faq.html"
                >
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>

            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->

        </ul>
      </nav><!-- End Icons Navigation -->

    </header>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->

        <!-- ======= Tables Nav ======= -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#tables-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i><span
            >Tables</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="tables-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="/admin/product">
                <i class="bi bi-circle"></i><span>Products</span>
              </a>
            </li>
            <li>
              <a href="/admin/type">
                <i class="bi bi-circle"></i><span>Types</span>
              </a>
            </li>
            <li>
              <a href="/admin/order">
                <i class="bi bi-circle"></i><span>Orders</span>
              </a>
            </li>
          </ul>
        </li><!-- End Tables Nav -->

        <!-- ======= Custom Workspace Nav ======= -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#workspace-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-pencil"></i><span>Customize</span><i
              class="bi bi-chevron-down ms-auto"
            ></i>
          </a>
          <ul
            id="workspace-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="/admin/carousel" {{#ifeq title "Carousel"}}class="active"{{/ifeq}}>
                <i class="bi bi-files"></i><span>Carousel</span>
              </a>
            </li>
            <li>
              <a href="/admin/video" {{#ifeq title "Video"}}class="active"{{/ifeq}}>
                <i class="bi bi-caret-right-square"></i><span>Video</span>
              </a>
            </li>
            <li>
              <a href="/admin/gallery" {{#ifeq title "Gallery"}}class="active"{{/ifeq}}>
                <i class="bi bi-card-image"></i><span>Gallery</span>
              </a>
            </li>
            <li>
              <a href="/admin/location" {{#ifeq title "Location"}}class="active"{{/ifeq}}>
                <i class="bi bi-map"></i><span>Location</span>
              </a>
            </li>
          </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#charts-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-bar-chart"></i><span>Charts</span><i
              class="bi bi-chevron-down ms-auto"
            ></i>
          </a>
          <ul
            id="charts-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="/admin/chart/product">
                <i class="bi bi-circle"></i><span>Sales per month of product</span>
              </a>
            </li>
          </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-heading">Pages</li>


        <li class="nav-item">
          <a class="nav-link collapsed" href="/#info">
            <i class="bi bi-map"></i>
            <span>Location</span>
          </a>
        </li><!-- End Location Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/register">
            <i class="bi bi-card-list"></i>
            <span>Register</span>
          </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/login">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Login</span>
          </a>
        </li><!-- End Login Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/notfound">
            <i class="bi bi-dash-circle"></i>
            <span>Error 404</span>
          </a>
        </li><!-- End Error 404 Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="/">
            <i class="bi bi-file-earmark"></i>
            <span>Blank</span>
          </a>
        </li><!-- End Blank Page Nav -->

      </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>{{title}} {{tab}}</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item">{{tab}}</li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      {{{body}}}

    </main><!-- End #main -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright
        <strong><span>Chau Tien Phong</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by
        <a href="#!">Chau Tien Phong</a>
      </div>
    </footer>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="/assets/admin/vendor/apexcharts/apexcharts.min.js"></script>
    <script
      src="/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <script src="/assets/admin/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/admin/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/admin/vendor/quill/quill.min.js"></script>
    <script
      src="/assets/admin/vendor/simple-datatables/simple-datatables.js"
    ></script>
    <script src="/assets/admin/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/admin/vendor/php-email-form/validate.js"></script>

    <script src="/assets/admin/js/main.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/admin.js"></script>
  </body>

</html>